*
{
    margin: 0;
    background-color: rgb(58, 48, 126);
    color: azure;
}
.nav_bar_top
{
    background-color: rgb(40, 26, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
li
{
    list-style: none;
    padding: 5px;
    height: 12px;
    width: 1in;
    border: 2px solid black;
    border-radius: 5px;
}
.search_box
{
    height: 18px;
    width: 2in;
}
.popular_sec
{
    height: 100px;
    width: 100px;
}